<nav class="navbar navbar-toggleable-md navbar-inverse fixed-top bg-inverse">
    <a class="navbar-brand" href="#">LodgIX</a>
    <ul class="nav navbar-nav">
        <li class="nav-item active">
            <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="active">
            <a class="nav-link" href="#">About</a>
        </li>
        <li class="active">
            <a class="nav-link" href="#">Contact</a>
        </li>
        <li class="active">
            <a class="nav-link" href="#">Contact</a>
        </li>
        <li class="dropdown">
            <a tabindex="0" data-toggle="dropdown" data-submenu>
                Dropdown<span class="caret"></span>
            </a>
            <ul class="dropdown-menu">
                <li class="dropdown-submenu">
                    <a tabindex="0">Action</a>
                </li>
            </ul>
        </li>
    </ul>
    <ul class="nav navbar-nav pull-right">
        <li class="nav-item">
            <a class="nav-link" href="https://twitter.com/@cheaitoMC"><i class="fa fa-twitter" aria-hidden="true"></i></a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="https://github.com/beeman"><i class="fa fa-github" aria-hidden="true"></i></a>
        </li>
    </ul>
</nav>
