<h1>New FORM </h1>
<form [formGroup]="form">
    <label>
        <h4>Description</h4>
        <input type="text" formControlName="description" placeholder="Enter todo description">
        <div class="alert alert-info" role="alert" *ngIf="descrptionControlInvalid">
            <p>Todo must have a description</p>
        </div>
    </label>
    <label>
        <h4>Category</h4>
        <input type="text" formControlName="category" placeholder="">
        <div class="alert alert-info" role="alert" *ngIf="categoryControlInvalid">
            <p>Todo must have a category</p>
        </div>
    </label>

    <label>
        <h4>Sub Category</h4>
        <input type="text" formControlName="subCategory" placeholder="">
        <div class="alert alert-info" role="alert" *ngIf="subCategoryControlInvalid">
            <p>Todo must have a sub category</p>
        </div>
    </label>
</form>