<div class="page-container">
    <app-dialog 
        [(visible)]="showMessageSvc.visible" 
        [title]="showMessageSvc.title"
        [message] ="showMessageSvc.message"> 
    </app-dialog>
    <app-nav></app-nav>
        <div class="row">
                <!-- sidebar -->
                    <div class="col-md-2" id="sidebar" role="navigation">
                        <app-sidebar></app-sidebar>
                    </div>
                    <div class="col-md-10">
                        <router-outlet></router-outlet>
                    </div>
    </div><!--/.container-->        
    <app-footer></app-footer>
</div>
