.navbar {
    margin-bottom: 0px;
    border-radius: 0px;
    padding: 5px;
}
.dropdown-toggle img {
    height: 32px;
    width: 32px;
    padding: 0px;
}
.img-logo {
    height: 40%;
    width: 40%;
}