/* You can add global styles to this file, and also import other style files */
html {
  position: relative;
  min-height: 100%;
}
body {
  padding-top: 0rem;
  margin-bottom: 60px;
}
.starter-template {
  padding: 3rem 1.5rem;
  text-align: center;
}


@import '../node_modules/font-awesome/css/font-awesome.min.css';
@import '../node_modules/bootstrap/dist/css/bootstrap.min.css';       

/*t '../node_modules/@angular/material/prebuilt-themes/indigo-pink.css';
*/
@import '../node_modules/bootswatch/spacelab/bootstrap.min.css';

/*@import '../node_modules/bootswatch/cyborg/bootstrap.min.css';
@import '../node_modules/bootswatch/journal/bootstrap.min.css';
@import '../node_modules/bootswatch/lumen/bootstrap.min.css';
@import '../node_modules/bootswatch/paper/bootstrap.min.css';
@import '../node_modules/bootswatch/readable/bootstrap.min.css';
@import '../node_modules/bootswatch/sandstone/bootstrap.min.css';
@import '../node_modules/bootswatch/simplex/bootstrap.min.css';
@import '../node_modules/bootswatch/spacelab/bootstrap.min.css';
@import '../node_modules/bootswatch/superhero/bootstrap.min.css';
@import '../node_modules/bootswatch/united/bootstrap.min.css';*/