<div class="row">
    <h1 class="text-primary">Guest services</h1>
    <form #myForm="ngForm" (ngSubmit) = "submitForm(myForm)">
        <div asp-validation-summary="ModelOnly" class="alert alert-info"></div>
        <div class="col-md-12">
            <div class="form-group">
                <label for="Name">Title</label>
                <input type="text" class="form-control" name="bookingTitle"  [(ngModel)] ="booking.title"/>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label for="Arrival">Check-in</label>
                <input type="date" class="form-control" Name="Arrival"[(ngModel)] ="booking.arrival"/>
            </div>
        </div>
                <div class="col-md-6">
            <div class="form-group">
                <label for="Departure">Check-in</label>
                <input type="date" class="form-control" Name="Arrival" [(ngModel)] ="booking.departure"/>
            </div>
        </div>
       <div class="col-md-4">
            <div class="form-group">
                <label for="RoomCount">Room</label>
                <input type="number" min="0" max="10" class="form-control" Name="RoomCount" [(ngModel)] ="booking.roomCount"/>
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                <label for="AdultCount">Adult</label>
                <input type="number" min="0" max="10" class="form-control" Name="AdultCount" [(ngModel)] ="booking.adultCount"/>
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                <label for="ChildrenCount">Children</label>
                <input type="number" min="0" max="10" class="form-control" Name="ChildrenCount" [(ngModel)] ="booking.childCount"/>
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                <label for="Type">Type</label>
                <select class="form-control" Name="Type" [(ngModel)] ="booking.type">
                    <option value="B">Business</option>
                    <option value="I">Individual</option>
                    <option value=""></option>
                </select>
            </div>
        </div>
        <div class="col-md-8">
            <div class="form-group">
                <label for="PromotionCode">Promotion / rate/ Plan</label>
                <select class="form-control" Name="PromotionCode" [(ngModel)] ="booking.promotionCode">
                    <option value="C1">Promption #1</option>
                    <option value="C2">Promption #2</option>
                    <option value="C3">Promption #3</option>
                    <option value="C4">Promption #4</option>
                    <option value="C5">Promption #5</option>
                    <option value="C6">Promption #6</option>
                </select>
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                <label for="PhoneNumber">Phone</label>
                <input type="text" class="form-control" Name="PhoneNumber" [(ngModel)] ="booking.phoneNumber" />
            </div>
        </div>
        <div class="col-md-8">
            <div class="form-group">
                <label for="Email">Email</label>
                <input type="email" class="form-control" Name="Email" [(ngModel)] ="booking.email"/>
            </div>
        </div>
        <div class="col-md-12">
            <div class="form-group">
                <label for="Remarks">Remarks</label>
                <textarea rows="4" class="form-control" Name="Remarks" [(ngModel)] ="booking.remarks"></textarea>
            </div>
        </div>
          <div class="col-md-12">
            <div class="form-group">
                <input type="submit" value="Booking" class="btn btn-success" />
            </div>
        </div>
    </form>
</div>
