<div class="row">
    <h1 class="text-primary">Guest services</h1>
    <form #myForm="ngForm" (ngSubmit) = "submitForm(myForm)">
        <div asp-validation-summary="ModelOnly" class="alert alert-info"></div>
        <div class="col-md-12">
            <div class="form-group">
                <label for="Name">Title</label>
                <input type="text" class="form-control" name="bookingTitle"  [(ngModel)] ="booking.title"/>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label for="Arrival">Check-in</label>
                <input type="date" class="form-control" asp-for="Arrival" />
                <span asp-validation-for="Arrival"></span>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label for="Departure">Check-out</label>
                <input type="date" class="form-control" asp-for="Departure" />
                <span asp-validation-for="Departure"></span>
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                <label for="RoomCount">Room</label>
                <input type="number" min="0" max="10" class="form-control" asp-for="RoomCount" />
                <span asp-validation-for="RoomCount"></span>
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                <label for="AdultCount">Adult</label>
                <input type="number" min="0" max="10" class="form-control" asp-for="AdultCount" />
                <span asp-validation-for="AdultCount"></span>
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                <label for="ChildrenCount">Children</label>
                <input type="number" min="0" max="10" class="form-control" asp-for="ChildrenCount" />
                <span asp-validation-for="ChildrenCount"></span>
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                <label for="Type">Type</label>
                <select class="form-control" asp-for="Type">
                    <option value="B">Business</option>
                    <option value="I">Individual</option>
                    <option value=""></option>
                </select>
                <span asp-validation-for="Type"></span>
            </div>
        </div>
        <div class="col-md-8">
            <div class="form-group">
                <label for="PromotionCode">Promotion / rate/ Plan</label>
                <select class="form-control" asp-for="PromotionCode">
                    <option value="C1">Promption #1</option>
                    <option value="C2">Promption #2</option>
                    <option value="C3">Promption #3</option>
                    <option value="C4">Promption #4</option>
                    <option value="C5">Promption #5</option>
                    <option value="C6">Promption #6</option>
                </select>
                <span asp-validation-for="PromotionCode"></span>
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                <label for="PhoneNumber">Phone</label>
                <input type="text" class="form-control" asp-for="PhoneNumber" />
                <span asp-validation-for="PhoneNumber"></span>
            </div>
        </div>
        <div class="col-md-8">
            <div class="form-group">
                <label for="Email">Email</label>
                <input type="email" class="form-control" asp-for="Email" />
                <span asp-validation-for="Email"></span>
            </div>
        </div>
        <div class="col-md-12">
            <div class="form-group">
                <label for="Remarks">Remarks</label>
                <textarea rows="4" class="form-control" asp-for="Remarks"></textarea>
                <span asp-validation-for="Remarks"></span>
            </div>
        </div>
          <div class="col-md-12">
            <div class="form-group">
                <input type="submit" value="Booking" class="btn btn-success" />
            </div>
        </div>
    </form>
</div>
