<div class="row">
    <h1 class="text-primary">Guest services</h1>
    <form #bookingForm="ngForm"  (ngSubmit) = "submitForm(bookingForm)">
        <div class="col-md-12">
            <div class="form-group">
                <label for="bookingTitle">Title</label>
                <input type="text" class="form-control" name="bookingTitle"  
                [(ngModel)] ="booking.name" placeholder="Enter booking title"
                required minlength="4" maxlength="200"  />
                <div *ngIf="formErrors.bookingTitle" class="alert alert-danger">{{ formErrors.bookingTitle }}</div>
            </div>  
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label for="Arrival">Check-in</label>
                <input type="date" class="form-control" name="Arrival"[(ngModel)] ="booking.arrival"/>
            </div>
        </div>
                <div class="col-md-6">
            <div class="form-group">
                <label for="Departure">Check-in</label>
                <input type="date" class="form-control" name="Arrival" [(ngModel)] ="booking.departure"/>
            </div>
        </div>
       <div class="col-md-4">
            <div class="form-group">
                <label for="RoomCount">Room</label>
                <input type="number" min="0" max="10" class="form-control" name="RoomCount" [(ngModel)] ="booking.roomCount"/>
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                <label for="AdultCount">Adult</label>
                <input type="number" min="0" max="10" class="form-control" name="AdultCount" [(ngModel)] ="booking.adultCount"  value="{{booking.adultCount}}"/>
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                <label for="ChildrenCount">Children</label>
                <input type="number" min="0" max="10" class="form-control" name="ChildrenCount" [(ngModel)] ="booking.childCount"/>
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                <label for="Type">Type</label>
                <select class="form-control" name="Type" [(ngModel)] ="booking.type">
                    <option *ngFor="let type of bookingTypesList" [ngValue]="type.code">{{type.name}}</option>
                </select>
            </div>
        </div>
        <div class="col-md-8">
            <div class="form-group">
                <label for="PromotionCode">Promotion / rate/ Plan</label>
                <select class="form-control" name="PromotionCode" [(ngModel)] ="booking.promotionCode">
                     <option *ngFor="let promo of promotionList" value= {{promo.code}}>{{promo.name}}</option>
                </select>
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                <label for="PhoneNumber">Phone</label>
                <input type="text" class="form-control" name="PhoneNumber" [(ngModel)] ="booking.phoneNumber" />
            </div>
        </div>
        <div class="col-md-8">
            <div class="form-group">
                <label for="Email">Email</label>
                <input type="email" class="form-control" name="Email" [(ngModel)] ="booking.email"/>
            </div>
        </div>
        <div class="col-md-12">
            <div class="form-group">
                <label for="Remarks">Remarks</label>
                <textarea rows="4" class="form-control" name="Remarks" [(ngModel)] ="booking.remarks"></textarea>
            </div>
        </div>
          <div class="col-md-12">
            <div class="form-group">
                <input type="submit" value="Booking" class="btn btn-success" />
            </div>
        </div>
    </form>
</div>
